*{
    padding: 0;
    margin: 0;
}

body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
span{
    font-size: 10px;
}

header{
    background-color: rgb(101, 116, 213);
    color: #ffffff;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}
a{
    color: #ffffff;
    text-decoration: unset;
    font-size: 7px;
}
a:hover{
    color: #ffffff;
    text-decoration: unset;
    font-size: 10px;
}
.links{
    display: flex;
    gap:10px;
}

.top_div{
    background-color: rgb(101, 116, 213);
    height: 200px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_side{
    width: 30%;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
button{margin-right: 70%;
cursor: pointer;}
.main_img{
    width: 12em;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.center_div_one{
    background-color: rgb(190, 218, 233);
    height: 15em;
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
}
.images{
    height:60%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    gap:25px;
    padding-bottom: 20px;;
   
}
.img{
    max-width:100px;
}
.image{
    width: 7em;
    height: 7em;
    border-radius: 10px;
    
}
figcaption{font-size: 10px;}
.text_one{
   padding:1em;
    text-align: center;
    font-size: 20px;
}
.center_div_two{
    background-color: #a6d0e5;
    height:12em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.quote{
    font-size: 20px;
    width: 60%;
}
em{ 
    margin-left: 60%;
    font-size: 15px;
}
.bottom_div{
    background-color: #55aad4;
    margin: 30px 15%;
    height: 5em;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup{
    background-color: #55aad4;
    color: #ffffff;
    margin: 15px auto;
    padding: 4px;
    border:solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

footer{
    background-color: #16134f;
    margin-bottom: 0;
    height: 5em;
    color:#ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}