*{
    padding: 0;
    margin: 0;
}

body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
span{ 
    /*setting the size of all thespans in the page*/
    font-size: 10px;
}

header{
    background-color: rgb(101, 116, 213);
    color: #ffffff;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}
.nav{
    color: #ffffff;
    text-decoration: unset;
    font-size: 12px;
}
.nav:hover{
    color: #ffffff;
    text-decoration: unset;
    font-size: 15px;
}
.links{
    display: flex;
    gap:10px;
}

.top_div{
    background-color: rgb(101, 116, 213);
    height: 200px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_side{
    /*divided the top div in leftand right side*/
    width: 30%;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
button{margin-right: 70%;
cursor: pointer;}
.main_img{
    width: 200px;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.center_div_one{
    background-color: rgb(190, 218, 233);
    height: 15%;
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
}
.images{
    /*all the small images with their
    figcaptions in the center of
    the page*/
    height:30%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    gap:2%;
    padding-bottom: 20px;;
   
}
.img{
    /*each image with its figcaption*/
    max-width:115px;

}
.image{
    /*each little image*/
    width: 115px;
    height: 110px;
    border-radius: 10px;
    
}
figcaption{font-size: 10px;}

.text_one{
   padding:1em;
    text-align: center;
    font-size: 20px;
}
.center_div_two{
    background-color: #a6d0e5;
    height:12em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.quote{
    font-size: 20px;
    width: 60%;
    font-style:italic;
}
em{ 
    /*the quote's author*/
    margin-left: 60%;
    font-size: 15px;
}
.bottom_div{
    background-color: #55aad4;
    margin: 30px 15%;
    height: 80px;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup{
    background-color: #55aad4;
    color: #ffffff;
    margin: 15px auto;
    padding: 4px;
    border:solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

footer{
    background-color: #16134f;
    margin-bottom: 0;
    height: 85px;
    color:#ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}