*{
    padding: 0;
    margin: 0;
}

body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size: 8px;
}
header{
    background-color: rgb(101, 116, 213);
    color: #ffffff;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}
a{
    color: #ffffff;
    text-decoration: unset;
    font-size: 7px;
}
.links{
    display: flex;
    gap:10px;
}

.top_div{
    background-color: rgb(101, 116, 213);
    height: 200px;
    color: #ffffff;
    display: flex;

    justify-content: space-between;
    align-items: center;

}
.left_side{
    width: 30%;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
button{margin-right: 70%;}
.main_img{
    width: 35%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
